.grid {
    display: grid;
    grid-template-columns: repeat(16, 20px);
    grid-template-rows: repeat(16, 20px);
}

.cell {
    height: 20px;
    width: 20px;
    background-color: gray;
    border: 1px solid black;
}